@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #041A23;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.border_red{
  border: 1px solid #F28F16;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f2a9221a;
  color: #F28F16;
}

 .ant-menu-item::after {
  border-right: 3px solid #F28F16  !important;
}

header.ant-layout-header.site-layout-background {
  background: white !important;
}

.dark_white_bg{
  background-color: #cfccd949;
}

section.ant-layout.site-layout {
  background: white;
}

.votes-content {
  background: #CFCCD9;
  width: 52px;
  height: 52px;
  text-align: center;
  padding: 15px;
  border-radius: 100%;
  margin-top: 14px;
  font-weight: bold;
  color: black;
  margin-left: 290px;
}

.card-details {
  margin-top: 31vh;
  height: 200px;
  padding-top: 31px;
  background: rgba(255, 255, 255, 0.618);
}

.card-details h4 {
  font-size: 22px;
}

.card-details h5 {
  opacity: 0.7;
  font-weight: normal;
  font-size: 16px;
  margin-top: 14px;
}

.vote-bg{
  /* background-image: url('https://images.pexels.com/photos/2955375/pexels-photo-2955375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  object-fit: cover;
  background-size: cover;
  background: linear-gradient('green');
  background-repeat: no-repeat;
}